# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Secrets
.env

# Databases & Large Data
chroma_db/
backend/chroma_db/
# We allow sample documents for the cloud demo
# backend/uploaded_documents/*  <-- Commented out
!backend/uploaded_documents/*.pdf
!backend/uploaded_documents/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
